.sidebar {
    background-color: aqua;
    height: 550px;
}

.currentStats {
    background-color: rgb(108, 86, 233);
    height: 275px;
}

.fiveDayStats {
    background-color:rgb(197, 195, 191);
    height: 275px;
}

.dashBoardTitle {
    font-size: 35px;
    background-color: rgb(78, 74, 74);
    text-align: center;
    color: white;
}

.currentCity {
    font-size: 30px;
    color:white;
}

.currentDate {
    font-size: 30px;
    color:white;
}

.currentWeatherIcon {
    font-size: 30px;
    color:white;
}

.currentTemp {
    font-size: 15px;
    color:white;
}

.currentHumidity {
    font-size: 15px;
    color:white;
}

.currentWindSpeed {
    font-size: 15px;
    color:white;
}

.currentHeatIndex {
    font-size: 15px;
    color:white;
}

.fiveDayForecast {
    background-color: aquamarine;
}
